<%= simple_form_for task, html: { class: "task form" } do |f| %>
  <% if task.errors.any? %>
    <div class="error-message">
      <%= task.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true },
              placeholder: ["Call mom", "Mop the floor", "Buy some eggs", "Unfreeze chicken", "Send an email to someone", "Laundry time"].sample %>
  <%= link_to "Cancel", tasks_path, class: "btn btn--light" %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>
